<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= fullCarName %></title>
  </head>
  <% fullCarName = `${car.make} ${car.model}` %>
  <body>
    <h1><%= fullCarName %></h1>

    <p>Year: <%= car.year %></p>
    <p>Make: <%= car.make %></p>
    <p>Model: <%= car.model %></p>

    <form action="/cars/<%=car._id%>?_method=DELETE" method="POST">
      <button type="submit">Delete <%= car.make %> <%=car.model %></button>
    </form>

    <a href="/cars/<%= car._id %>/edit">Edit <%= fullCarName %></a>

    <a href="/cars/">Back to Your Cars</a>
  </body>
</html>
